<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SmartHome</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{% static "bower_components/metisMenu/dist/metisMenu.min.css" %}" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="{% static "dist/css/timeline.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "dist/css/sb-admin-2.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "bower_components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <!-- jquery-ui -->
    <link rel="stylesheet" href="{% static "bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css" %}">
    <!-- DataTables CSS -->
    <link href="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="{% static "bower_components/datatables-responsive/css/dataTables.responsive.css" %}" rel="stylesheet">
    <!-- Toggle button CSS -->
    <link href="{% static "bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--     <link rel="stylesheet" href="{% static "bower_components/jquery-timepicker/jquery.ui.timepicker.css"> -->
    
    <link rel="stylesheet" href="{% static "bower_components/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" %}" rel="stylesheet"> 
 
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
       <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">SmartHome</a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{% url 'index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-refresh fa-fw"></i> 手動控制<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'roomLiving' %}">客廳</a>
                                </li>
                                <li>
                                    <a href="{% url 'roomMainRoom' %}">主臥房</a>
                                </li>
                                <li>
                                    <a href="{% url 'roomLiving' %}">客房</a>
                                </li>
                                <li>
                                    <a href="{% url 'roomLiving' %}">新增</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{% url 'roomSchedule' %}"><i class="fa fa-tasks fa-fw"></i> 智慧控制</a>
                        </li>
                        <li>
                            <a href="{% url 'roomEnvironment' %}"><i class="fa fa-university fa-fw"></i> 情境模式</a>
                        </li>
                        <li>
                            <a href="{% url 'roomCurrentStat' %}"><i class="fa fa-bar-chart-o fa-fw"></i> 耗能統計</a>
                        </li>
                        <li>
                        </li>
                       <!--  <li>
                            <a href="{% url 'roomSchedule' %}"><i class="fa fa-cog fa-fw"></i> 系統設定</a>
                        </li> -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
            <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>智慧控制! <small>點亮生活的智慧</small></h1>
                        <h1></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">
                            排程預覽
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <h5 style="color:blue;">表單內選擇刪除之排程</h5>
                                <table class="table table-striped table-bordered table-hover" id="tableScheduleView">
                                    <thead>
                                        <tr>
                                            <th>任務#</th>
                                            <th>ID</th>
                                            <th>時間</th>
                                            <th>命令</th>
                                            <th>是否完成</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>1</td>
                                            <td>1</td>
                                            <td>2016/1/19 上午8:38:15</td>
                                            <td>0</td>
                                            <td>完成</td>
                                        </tr>
                                        <tr class="even gradeC">
                                            <td>1</td>
                                            <td>2</td>
                                            <td>2016/1/19 上午9:38:15</td>
                                            <td>0</td>
                                            <td>未完成</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p></p>
                                <button type="button" class="btn btn-danger" id="btnDeleteSchedule">
                                    刪除排程
                                </button>
                                <h4 id="SelectSchedule"></h4>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            節點選單與動作
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <h5 style="color:blue;">表單內選擇對應節點</h5>
                                <table class="table table-striped table-bordered table-hover" id="tableNodeSelect">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>類型</th>
                                            <th>應用</th>
                                            <th>位置</th>
                                            <th>狀態</th>
                                            <th>電流</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>1</td>
                                            <td>N</td>
                                            <td>Light</td>
                                            <td>主臥室</td>
                                            <td class="center">0</td>
                                            <td class="center">0</td>
                                        </tr>
                                        <tr class="even gradeC">
                                            <td>1</td>
                                            <td>N</td>
                                            <td>Fan</td>
                                            <td>主臥室</td>
                                            <td class="center">0</td>
                                            <td class="center">0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            選擇節點與動作
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-md-6">
                                <h4>節點:
                                <input type="text" id="SelectNodeName" disabled>
                            </h4>
                                <h4>應用:
                                <input type="text" id="SelectNodeApp" disabled>
                            </h4>
                            </div>
                            <div class="col-md-6" id="NodeNSwitch" hidden>
                                <h4>開關:  <input checked data-toggle="toggle" type="checkbox" id="NodeN1Switch"></h4>
                            </div>
                            <div class="col-md-6" id="NodeLSwitch" hidden>
                                <h4>開關1:  <input checked data-toggle="toggle" type="checkbox" id="NodeL1Switch"></h4>
                                <h4>開關2:  <input checked data-toggle="toggle" type="checkbox" id="NodeL2Switch"></h4>
                                <h4>開關3:  <input checked data-toggle="toggle" type="checkbox" id="NodeL3Switch"></h4>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            設定日期與時間
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-md-6">
                                <h4>日期:
                                <input type="text" id="datepicker">
                            </h4>
                                <h4>時間:
                                <input type="text" id="timepicker">
                            </h4>
                            </div>
                            <div class="col-md-6">
                                <h4>設定:
                                <input type="text" id="selectDateTime" disabled></h4>
                                <p></p>
                                <button type="button" class="btn btn-danger" id="btnCheckSchedule">
                                    確認排程
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            確認排程資料
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered" id="tableScheduleSetting">
                                    <!-- <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>時間</th>
                                            <th>命令</th>
                                        </tr>
                                    </thead>
                                     <tbody>
                                        <tr class="odd gradeX">
                                            <td>1</td>
                                            <td>2016/1/19 上午8:38:15</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody> -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  <h3>週期控制</h3> -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1></h1>
                    <button type="button" class="btn btn-lg btn-success" id="btnSubmitSchedule">
                        確認送出
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "bower_components/metisMenu/dist/metisMenu.min.js" %}"></script>
    <!-- Morris Charts JavaScript -->
    <script src="{% static "bower_components/raphael/raphael-min.js" %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static "dist/js/sb-admin-2.js" %}"></script>
    <!-- restful -->
    <script src="{% static "js/RestControl.js" %}"></script>
    <!-- date, time selector -->
    <script src="{% static "js/ScheduleControl.js" %}"></script>
    <script src="{% static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "bower_components/jquery-ui/ui/i18n/datepicker-zh-TW.js" %}"></script>
    <script src="{% static "bower_components/jquery-timepicker/jquery.ui.timepicker.js" %}"></script>
    <!-- DataTables JavaScript -->
    <script src="{% static "bower_components/datatables/media/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}"></script>
    <!-- toggle button -->
    <script src="{% static "bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js" %}"></script>
</body>

</html>
