<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SmartHome</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{% static "bower_components/metisMenu/dist/metisMenu.min.css" %}" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="{% static "dist/css/timeline.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "dist/css/sb-admin-2.css" %}" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="{% static "bower_components/morrisjs/morris.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "bower_components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <!-- Toggle button CSS -->
    <link href="{% static "bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" %}" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
       <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">SmartHome</a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{% url 'index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-refresh fa-fw"></i> 手動控制<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'roomLiving' %}">客廳</a>
                                </li>
                                <li>
                                    <a href="{% url 'roomMainRoom' %}">主臥房</a>
                                </li>
                                <li>
                                    <a href="{% url 'roomLiving' %}">客房</a>
                                </li>
                                <li>
                                    <a href="{% url 'roomLiving' %}">新增</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{% url 'roomSchedule' %}"><i class="fa fa-tasks fa-fw"></i> 智慧控制</a>
                        </li>
                        <li>
                            <a href="{% url 'roomEnvironment' %}"><i class="fa fa-university fa-fw"></i> 情境模式</a>
                        </li>
                        <li>
                            <a href="{% url 'roomCurrentStat' %}"><i class="fa fa-bar-chart-o fa-fw"></i> 耗能統計</a>
                        </li>
                        <li>
                        </li>
                       <!--  <li>
                            <a href="{% url 'roomSchedule' %}"><i class="fa fa-cog fa-fw"></i> 系統設定</a>
                        </li> -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
         <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1>客廳! <small>玩轉家電</small></h1>
                            <!-- <picture>
                                <source srcset="picture/smallLivingRoom.jpg" media="(max-width: 40em) and (orientation: landscape)">
                                <source srcset="picture/smallLivingRoom.jpg" media="(max-width: 40em) and (orientation: portrait)">
                                <source srcset="picture/LivingRoom.jpg" media="(min-width: 40em) and (orientation: landscape)">
                                <source srcset="picture/LivingRoom.jpg" media="(min-width: 40em) and (orientation: portrait)">
                                <img srcset="picture/LivingRoom.jpg" alt="My default image">
                            </picture> -->
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            控制面板
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#home-pills" data-toggle="tab">電器控制</a>
                                </li>
                                <li><a href="#profile-pills" data-toggle="tab">電視控制</a>
                                </li>
                                <li><a href="#messages-pills" data-toggle="tab">冷氣控制</a>
                                </li>
                                <li><a href="#settings-pills" data-toggle="tab">設定</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home-pills">
                                    <h4>電器控制</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-hover" id="tableLivingControl">
                                                <thead>
                                                    <tr>
                                                        <!--   <th>ID</th>
                                                        <th>類型</th> -->
                                                        <th>應用</th>
                                                        <th>控制</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="odd gradeX">
                                                        <!--      <td>1</td>
                                                        <td>N</td> -->
                                                        <td>台燈</td>
                                                        <td>
                                                            <input checked data-toggle="toggle" type="checkbox" data-onstyle="success" id="btnMainLight">
                                                        </td>
                                                    </tr>
                                                    <tr class="odd gradeX">
                                                        <!--  <td>1</td>
                                                        <td>N</td> -->
                                                        <td>電風扇</td>
                                                        <td>
                                                            <input checked data-toggle="toggle" type="checkbox" data-onstyle="success" id="btnWallLight">
                                                        </td>
                                                    </tr>
                                                    </tr>
                                                    <tr class="odd gradeX">
                                                        <!--  <td>1</td>
                                                        <td>N</td> -->
                                                        <td>微波爐</td>
                                                        <td>
                                                            <input checked data-toggle="toggle" type="checkbox" data-onstyle="success" id="btnFan">
                                                        </td>
                                                    </tr>
                                                    <tr class="even gradeC">
                                                        <!--    <td>1</td>
                                                        <td>P</td> -->
                                                        <td>檯燈</td>
                                                        <td>
                                                            <label class="checkbox">
                                                                <input checked data-toggle="toggle" type="checkbox" data-onstyle="success" id="btnCurtain1"> 檯燈1</label>
                                                            <label class="checkbox">
                                                                <input checked data-toggle="toggle" type="checkbox" data-onstyle="success" id="btnCurtain2"> 檯燈2</label>
                                                            <label class="checkbox">
                                                                <input checked data-toggle="toggle" type="checkbox" data-onstyle="success" id="btnCurtain3"> 檯燈3</label>
                                                        </td>
                                                    </tr>
                                                    <tr class="odd gradeX">
                                                        <!--  <td>1</td>
                                                        <td>N</td> -->
                                                        <td>床頭 開關檯燈</td>
                                                        <td>
                                                            <label class="checkbox">
                                                                <input checked data-toggle="toggle" type="checkbox" data-onstyle="warning" id="btnCurtain1" disabled> 檯燈1狀態</label>
                                                            <label class="checkbox">
                                                                <input checked data-toggle="toggle" type="checkbox" data-onstyle="warning" id="btnCurtain2" disabled> 檯燈2狀態</label>
                                                            <label class="checkbox">
                                                                <input checked data-toggle="toggle" type="checkbox" data-onstyle="warning" id="btnCurtain3" disabled> 檯燈3狀態</label>
                                                        </td>
                                                    </tr>
                                                    <tr class="odd gradeX">
                                                        <!--  <td>1</td>
                                                        <td>N</td> -->
                                                        <td>門口 開關檯燈</td>
                                                        <td>
                                                            <label class="checkbox">
                                                                <input checked data-toggle="toggle" type="checkbox" data-onstyle="warning" id="btnCurtain1" disabled> 檯燈1狀態</label>
                                                            <label class="checkbox">
                                                                <input checked data-toggle="toggle" type="checkbox" data-onstyle="warning" id="btnCurtain2" disabled> 檯燈2狀態</label>
                                                            <label class="checkbox">
                                                                <input checked data-toggle="toggle" type="checkbox" data-onstyle="warning" id="btnCurtain3" disabled> 檯燈3狀態</label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="tab-pane fade" id="profile-pills">
                                    <h4>電視控制</h4>
                                    <table class="table table-striped table-bordered table-hover" id="tableLivingControl">
                                        <thead>
                                            <tr>
                                                <!--   <th>ID</th>
                                                        <th>類型</th> -->
                                                <th>應用</th>
                                                <th>控制</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="even gradeC">
                                                <!--    <td>1</td>
                                                        <td>P</td> -->
                                                <td>主控盤</td>
                                                <td>
                                                    <a class="btn btn-large btn-default " id="btnTVON">
                                                        <i class="fa fa-power-off fa-3x pull-left"></i>開關</a>
                                                    <a class="btn btn-large btn-default " id="btnMenu">
                                                        <i class="fa fa-home fa-3x pull-left"></i>主選單</a>
                                                    <a class="btn btn-large btn-default " id="btnTVEXIT">
                                                        <i class="fa fa-reply fa-3x pull-left"></i>跳出</a>
                                                    <a class="btn btn-large btn-default " id="btnTVStop">
                                                        <i class="fa fa-stop fa-3x pull-left"></i>靜止</a>
                                                </td>
                                            </tr>
                                            <tr class="even gradeC">
                                                <!--    <td>1</td>
                                                        <td>P</td> -->
                                                <td>功能</td>
                                                <td>
                                                    <a class="btn btn-large btn-default" id="btnTVChannelUp">
                                                        <i class="fa fa-chevron-circle-left fa-3x pull-left"></i>向上轉台</a>
                                                    <a class="btn btn-large btn-default" id="btnTVChannelDown">
                                                        <i class="fa  fa-chevron-circle-right fa-3x pull-left"></i>向下轉台</a>
                                                    <a class="btn btn-large btn-default " id="btnTVVoiceUp">
                                                        <i class="fa fa-volume-up  fa-3x pull-left"></i>增加音量</a>
                                                    <a class="btn btn-large btn-default" id="btnTVVoiceDown">
                                                        <i class="fa fa-volume-down fa-3x pull-left"></i>減低音量</a>
                                                    <a class="btn btn-large btn-default" id="btnTVMute">
                                                        <i class="fa fa-microphone-slash fa-3x pull-left"></i>靜音</a>
                                                </td>
                                            </tr>
                                            <tr class="even gradeC">
                                                <!--    <td>1</td>
                                                        <td>P</td> -->
                                                <td>頻道選擇</td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn btn-default btn-circle btn-xl" style="margin: 2px;" id="btnTV1"><i class="fa">1</i>
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-circle btn-xl" style="margin: 2px;" id="btnTV2"><i class="fa">2</i>
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-circle btn-xl" style="margin: 2px;" id="btnTV3"><i class="fa">3</i>
                                                            </button>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn btn-default btn-circle btn-xl" style="margin: 2px;" id="btnTV4"><i class="fa">4</i>
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-circle btn-xl" style="margin: 2px;" id="btnTV5"><i class="fa">5</i>
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-circle btn-xl" style="margin: 2px;" id="btnTV6"><i class="fa">6</i>
                                                            </button>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn btn-default btn-circle btn-xl" style="margin: 2px;" id="btnTV7"><i class="fa">7</i>
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-circle btn-xl" style="margin: 2px;"><i class="fa" id="btnTV8">8</i>
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-circle btn-xl" style="margin: 2px;" id="btnTV9"><i class="fa">9</i>
                                                            </button>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn btn-default btn-circle btn-xl" style="margin: 2px;" id="btnTV0"><i class="fa">0</i>
                                                            </button>
                                                            <a class="btn btn-large btn-default" id="btnTVEnter">
                                                                <i class="fa fa-check fa-3x pull-left"></i>確認</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="even gradeC">
                                                <!--    <td>1</td>
                                                        <td>P</td> -->
                                                <td>速度控制</td>
                                                <td>
                                                    <a class="btn btn-large btn-default" id="btnTVUP">
                                                        <i class="fa  fa-fast-backward fa-3x pull-left" id="btnTV2Back"></i>兩倍倒帶</a>
                                                    <a class="btn btn-large btn-default" href="#">
                                                        <i class="fa fa-backward fa-3x pull-left">
                                                            
                                                        </i>倒帶</a>
                                                    <a class="btn btn-large btn-default " href="#">
                                                        <i class="fa fa-pause fa-3x pull-left"></i>暫停</a>
                                                    <a class="btn btn-large btn-default" href="#">
                                                        <i class="fa fa-play fa-3x pull-left"></i>播放</a>
                                                    <a class="btn btn-large btn-default" href="#">
                                                        <i class="fa fa-forward fa-3x pull-left"></i>快轉</a>
                                                    <a class="btn btn-large btn-default" href="#">
                                                        <i class="fa fa-fast-forward fa-3x pull-left"></i>兩倍快轉</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="messages-pills">
                                    <h4>冷氣控制</h4>
                                    <table class="table table-striped table-bordered table-hover" id="tableLivingControl">
                                        <thead>
                                            <tr>
                                                <!--   <th>ID</th>
                                                        <th>類型</th> -->
                                                <th>應用</th>
                                                <th>控制</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="even gradeC">
                                                <!--    <td>1</td>
                                                        <td>P</td> -->
                                                <td>主控</td>
                                                <td>
                                                    <a class="btn btn-large btn-default " id="btnTVON">
                                                        <i class="fa fa-power-off fa-3x pull-left"></i>開關</a>
                                                    <a class="btn btn-large btn-default " id="btnTVON">
                                                        <i class="fa fa-soundcloud fa-3x pull-left"></i>送風</a>
                                                    <a class="btn btn-large btn-default " id="btnTVON">
                                                        <i class="fa fa-twitter  fa-3x pull-left"></i> 除濕</a>
                                                </td>
                                                <tr class="even gradeC">
                                                    <!--    <td>1</td>
                                                        <td>P</td> -->
                                                    <td>定溫</td>
                                                    <td>
                                                        <a class="btn btn-large btn-default " id="btnTVON">
                                                            <i class="fa  fa-chevron-up fa-3x pull-left"></i>溫度增加</a>
                                                        <a class="btn btn-large btn-default " id="btnTVON">
                                                            <i class="fa  fa-chevron-down fa-3x pull-left"></i>溫度減少</a>
                                                    </td>
                                                    <tr class="even gradeC">
                                                        <!--    <td>1</td>
                                                        <td>P</td> -->
                                                        <td>定時</td>
                                                        <td>
                                                            <a class="btn btn-large btn-default " id="btnTVON">
                                                                <i class="fa fa-caret-up fa-3x pull-left"></i>時間增加</a>
                                                            <a class="btn btn-large btn-default " id="btnTVON">
                                                                <i class="fa fa-caret-down fa-3x pull-left"></i>時間減少</a>
                                                        </td>
                                                    </tr>
                                                </tr>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--     <div class="row">
                                        <div class="col-md-6">
                                            <a class="btn btn-large btn-default" href="#">
                                                <i class="fa fa-power-off fa-3x pull-left"></i>開關 </a>
                                            <a class="btn btn-large btn-default" href="#">
                                                <i class="fa  fa-chevron-up fa-3x pull-left"></i>增加溫度</a>
                                            <a class="btn btn-large btn-default" href="#">
                                                <i class="fa  fa-chevron-down fa-3x pull-left"></i>減低溫度</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-large btn-default" href="#">
                                                <i class="fa fa-soundcloud fa-3x pull-left"></i> 送風</a>
                                            <a class="btn btn-large btn-default" href="#">
                                                <i class="fa fa-caret-up fa-3x pull-left"></i>時間增加</a>
                                            <a class="btn btn-large btn-default" href="#">
                                                <i class="fa fa-caret-down fa-3x pull-left"></i>時間減少</a>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="tab-pane fade" id="settings-pills">
                                    <h4>設定介面</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "bower_components/metisMenu/dist/metisMenu.min.js" %}"></script>
    <!-- Morris Charts JavaScript -->
    <script src="{% static "bower_components/raphael/raphael-min.js" %}"></script>
    <script src="{% static "bower_components/morrisjs/morris.min.js" %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static "dist/js/sb-admin-2.js" %}"></script>
    <script src="{% static "dist/js/JqueryREST.min.js" %}"></script>
    <script src="{% static "js/RestControl.js" %}"></script>
    <script src="{% static "dist/js/jquery.rest.js" %}"></script>
    <script src="{% static "bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js" %}"></script>
</body>

</html>
